In [14]:
# importing librarys
import pandas as pd
import numpy as np

In [8]:
# load csv files
df = pd.read_csv(r'C:\Users\pocra\Desktop\PostgresSQL\CSV\weather_data_20230601_20230711.csv')
list(df.head())

['district',
 'taluka',
 'rain_circle',
 'lat',
 'lon',
 'for_date',
 'rain_year',
 'daily_rain',
 'temp_min',
 'temp_max',
 'temp_avg',
 'rh_min',
 'rh_max',
 'rh_avg',
 'wind_min',
 'wind_max',
 'wind_avg']

In [26]:
# Create a pivot table 
table = pd.pivot_table(df,values='daily_rain',index=['district',
 'taluka','rain_circle','lat','lon'],columns=['for_date'], aggfunc=np.sum, margins=True, margins_name='Total')

In [27]:
table

for_date                                               2023-06-01  2023-06-02  \
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647         0.0        0.00
                      Chaas           19.0382 74.6518         0.0        0.00
                      Chinchodi Patil 18.9959 74.8995         0.0        0.00
                      Jewur           19.2171 74.8002         0.0        0.00
                      Kapurwadi       19.1196 74.7741         0.0        0.00
...                                                           ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667          0.0        0.00
                      Mukutban        19.8129 78.8541         0.0        0.00
                      Shibala         19.9762 78.6694         0.0        0.00
                      Zari            19.8586 78.7262         0.0        0.00
Total                                                         2.5        7.25

for_date                                               2023-06-03  2023-06-04  \
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647         0.0        0.00
                      Chaas           19.0382 74.6518         0.0        0.00
                      Chinchodi Patil 18.9959 74.8995         0.0        0.00
                      Jewur           19.2171 74.8002         0.0        0.00
                      Kapurwadi       19.1196 74.7741         0.0        0.00
...                                                           ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667          0.0        0.00
                      Mukutban        19.8129 78.8541         0.0        0.00
                      Shibala         19.9762 78.6694         0.0        0.00
                      Zari            19.8586 78.7262         0.0        0.00
Total                                                        30.5      611.25

for_date                                               2023-06-05  2023-06-06  \
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647        1.00        0.00
                      Chaas           19.0382 74.6518       22.25        6.75
                      Chinchodi Patil 18.9959 74.8995        8.00        0.00
                      Jewur           19.2171 74.8002        2.00        0.00
                      Kapurwadi       19.1196 74.7741       11.00        0.00
...                                                           ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667         0.25        0.00
                      Mukutban        19.8129 78.8541        1.25        0.00
                      Shibala         19.9762 78.6694        0.00        0.00
                      Zari            19.8586 78.7262        0.00        0.00
Total                                                     5404.75      485.25

for_date                                               2023-06-07  2023-06-08  \
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647        0.00        0.00
                      Chaas           19.0382 74.6518        0.00        0.00
                      Chinchodi Patil 18.9959 74.8995        0.00        0.00
                      Jewur           19.2171 74.8002        0.00        0.00
                      Kapurwadi       19.1196 74.7741        0.50        0.00
...                                                           ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667         0.00        0.00
                      Mukutban        19.8129 78.8541        0.00        1.00
                      Shibala         19.9762 78.6694        2.50        0.00
                      Zari            19.8586 78.7262        0.00        0.75
Total                                                      287.75      372.50

for_date                                               2023-06-09  2023-06-10  \
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647        0.00        0.25
                      Chaas           19.0382 74.6518       14.25        0.00
                      Chinchodi Patil 18.9959 74.8995        0.00        0.00
                      Jewur           19.2171 74.8002        0.00        0.00
                      Kapurwadi       19.1196 74.7741        0.00        0.00
...                                                           ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667         0.00        5.25
                      Mukutban        19.8129 78.8541        0.00        2.25
                      Shibala         19.9762 78.6694        0.00        1.25
                      Zari            19.8586 78.7262        0.00        7.50
Total                                                      693.50      685.00

for_date                                               ...  2023-07-02  \
district   taluka     rain_circle     lat     lon      ...
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647  ...         0.0
                      Chaas           19.0382 74.6518  ...         0.0
                      Chinchodi Patil 18.9959 74.8995  ...         0.0
                      Jewur           19.2171 74.8002  ...         0.0
                      Kapurwadi       19.1196 74.7741  ...         0.0
...                                                    ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667   ...         0.0
                      Mukutban        19.8129 78.8541  ...         0.0
                      Shibala         19.9762 78.6694  ...         0.0
                      Zari            19.8586 78.7262  ...         0.0
Total                                                  ...      3474.5

for_date                                               2023-07-03  2023-07-04  \
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647        3.00         0.0
                      Chaas           19.0382 74.6518        0.50         0.5
                      Chinchodi Patil 18.9959 74.8995       24.50         0.0
                      Jewur           19.2171 74.8002        7.50         0.0
                      Kapurwadi       19.1196 74.7741        0.50         0.0
...                                                           ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667         0.00         0.0
                      Mukutban        19.8129 78.8541        0.00         0.0
                      Shibala         19.9762 78.6694        0.00         0.0
                      Zari            19.8586 78.7262        0.00         0.0
Total                                                     7020.25      1878.7

for_date                                               2023-07-05  2023-07-06  \
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647        0.00       16.75
                      Chaas           19.0382 74.6518        0.00        2.25
                      Chinchodi Patil 18.9959 74.8995        0.00       29.50
                      Jewur           19.2171 74.8002        3.00        3.00
                      Kapurwadi       19.1196 74.7741        0.00       34.25
...                                                           ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667        34.50       10.50
                      Mukutban        19.8129 78.8541       26.75        4.00
                      Shibala         19.9762 78.6694       68.25        2.00
                      Zari            19.8586 78.7262       25.50        5.50
Total                                                    24533.25    22435.50

for_date                                               2023-07-07  2023-07-08  \
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647        0.00        0.50
                      Chaas           19.0382 74.6518        0.00        0.00
                      Chinchodi Patil 18.9959 74.8995        0.00        1.25
                      Jewur           19.2171 74.8002        0.00        0.25
                      Kapurwadi       19.1196 74.7741        0.00        0.00
...                                                           ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667        13.75       17.50
                      Mukutban        19.8129 78.8541       26.50       17.25
                      Shibala         19.9762 78.6694        7.75       25.75
                      Zari            19.8586 78.7262       13.75       17.50
Total                                                    13327.00    11075.50

for_date                                               2023-07-09  2023-07-10  \
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647        0.00        0.00
                      Chaas           19.0382 74.6518        0.00        0.00
                      Chinchodi Patil 18.9959 74.8995        0.00        0.00
                      Jewur           19.2171 74.8002        0.00        0.00
                      Kapurwadi       19.1196 74.7741        0.00        0.00
...                                                           ...         ...
Yawatmal   Zari       Matharjun       19.8937 78.667        15.50        0.00
                      Mukutban        19.8129 78.8541       22.75        0.00
                      Shibala         19.9762 78.6694        6.75        0.00
                      Zari            19.8586 78.7262       15.50        0.00
Total                                                    13046.25     3911.25

for_date                                                   Total
district   taluka     rain_circle     lat     lon
Ahmednagar Ahmednagar Bhingar         19.0958 74.8647     102.25
                      Chaas           19.0382 74.6518      73.75
                      Chinchodi Patil 18.9959 74.8995      97.00
                      Jewur           19.2171 74.8002      47.00
                      Kapurwadi       19.1196 74.7741     106.00
...                                                          ...
Yawatmal   Zari       Matharjun       19.8937 78.667      164.00
                      Mukutban        19.8129 78.8541     207.00
                      Shibala         19.9762 78.6694     189.25
                      Zari            19.8586 78.7262     164.00
Total                                                  187131.10

[1411 rows x 41 columns]

In [28]:
# Save output as csv formate
table.to_csv(r'C:\Users\pocra\Desktop\PostgresSQL\CSV\pivot_table_result.csv')